[submodule "thirdparty/DisCPP"]
	path = CPP/thirdparty/DisCPP
	url = https://github.com/DisCPP/DisCPP.git
[submodule "Java-Discord-Bot-Template"]
	path = Java/Java-Discord-Bot-Template
	url = https://github.com/lucasstarsz/Java-Discord-Bot-Template
